@model IEnumerable<Project.Model.EF.NHAN_VIEN>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>Danh sách nhân viên</h4>
<hr />
<div class="container-fluid">
    <div class="form-row">
        <div class="col-md-8" style="margin-bottom:10px">
            <button id="btnAddNewStaff" class="btn btn-primary"> <i class="fa fa-plus" aria-hidden="true"></i> Thêm mới</button>
            <button id="btnReloadStaff" class="btn btn-info"><i class="fas fa-sync-alt"></i> Reload</button>
            @*@Html.ActionLink("Thêm mới", "Create", "Order", null, new { @class = "btn btn-primary" })*@
        </div>
    </div>
</div>

<div class="box-body no-padding margin-top-10">
    <div id="divResult">
        @{ Html.RenderPartial("_Index");}
    </div>
</div>